<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessLogic.Properties.Settings.PhonebookConnectionString"
            connectionString="Data Source=חופית-PC\SQLEXPRESS;Initial Catalog=Phonebook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>